<p>create-conference works!</p>

<form (ngSubmit)="createConference()">

  <div class="form-group">
    <label for="nom">Nom de la conférence</label>
    <input type="text" id="nom" [(ngModel)]="conferenceCreateDTO.nom" name="nom" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="conferenceCreateDTO.description" name="description" class="form-control" required></textarea>
  </div>


  <div class="form-group">
    <label for="theme">Thème</label>
    <input type="text" id="theme" [(ngModel)]="conferenceCreateDTO.theme" name="theme" class="form-control" required>
  </div>


  <div class="form-group">
    <label for="imageUrl">URL de l'image</label>
    <input type="url" id="imageUrl" [(ngModel)]="conferenceCreateDTO.imageUrl" name="imageUrl" class="form-control">
  </div>


  <div class="form-group">
    <label for="dateDebut">Date de début</label>
    <input type="date" id="dateDebut" [(ngModel)]="conferenceCreateDTO.dateDebut" name="dateDebut" class="form-control" required>
  </div>


  <div class="form-group">
    <label for="dateFin">Date de fin</label>
    <input type="date" id="dateFin" [(ngModel)]="conferenceCreateDTO.dateFin" name="dateFin" class="form-control" required>
  </div>


  <div class="form-group">
    <label for="number_invite">Nombre d'invités</label>
    <input type="number" id="number_invite" [(ngModel)]="conferenceCreateDTO.number_invite" name="number_invite" class="form-control" required>
  </div>


  <div class="form-group">
    <label for="subject">Sujet de la conférence :</label>
    <select id="subject" [(ngModel)]="conferenceCreateDTO.subject" name="subject" class="form-control" required>
      <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
    </select>
  </div>


  <div class="form-group">
    <label for="locauxId">ID du lieu</label>
    <input type="number" id="locauxId" [(ngModel)]="conferenceCreateDTO.locauxId" name="locauxId" class="form-control" required>
  </div>


  <input type="number" [(ngModel)]="conferenceCreateDTO.conferencierId" name="conferencierId" >


  <button type="submit" class="btn btn-primary">Créer Conférence</button>
</form>
