<p>register-conferencier works!</p>

<h2>Inscription Conférencier</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom:</label>
    <input id="nom" formControlName="nom" required>
  </div>
  <div>
    <label for="prenom">Prénom:</label>
    <input id="prenom" formControlName="prenom" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" required>
  </div>
  <div>
    <label for="motDePasse">Mot de Passe:</label>
    <input id="motDePasse" formControlName="motDePasse" type="password" required>
  </div>
  <div>
    <label for="specialite">Spécialité:</label>
    <input id="specialite" formControlName="specialite" required>
  </div>

  <!-- Hidden field for the type attribute -->
  <input type="hidden" formControlName="type" value="conferencier">

  <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
</form>
