<p>Conferencier Dashboard works!</p>

<div *ngIf="conferencierData; else loading">
  <h1>Welcome, {{ conferencierData.nom }}</h1>
  <p>Conferencier ID: {{ conferencierData.id }}</p>
  <button (click)="showDemandeForm()">Create New Demande</button>

  <div *ngIf="isFormVisible">
    <app-demande-form [conferencierId]="conferencierData.id"></app-demande-form>
    <button (click)="hideDemandeForm()">Cancel</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<app-demande-list></app-demande-list>
